.App {
  text-align: center;
}

.onmyoji, .main {
  padding: 2%;
  margin: 1% auto;
}
.onmyoji {
  border: 1px solid;
  width: 600px;
}

.onmyoji ul {
  list-style: none;
}

.main {
  width: 800px;
  border: 1px solid red;
}